
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
# ------------------------------------

# --- Application Dependencies ---
fastapi[all]
uvicorn
python-dotenv
langchain
langchain-core
langchain-openai
langchain-community
openai
beautifulsoup4
lxml
sec-api
sentence-transformers>=2.2.0
chromadb
pydantic
requests
certifi